@import '../_variables.scss';
@import '../_mixins.scss';

.logo-group {
  .col-md-4 {
    @extend .section;
    @media (min-width: $breakpoints-md) {
      margin-top: 0;
    }
  }
  .logo-list {
    position: relative;
    height: 100%;
    background: $c-white;
    padding: 50px 5px 20px 5px;
    border-radius: $round1;
    .title {
      @extend .body-text;
      position: absolute;
      top: 20px;
      left: -9px;
      margin: 0;
      padding: 0 28px 0 16px;
      line-height: 30px;
      background: $c-red;
      color: $c-white;
      font-weight: 700;
      text-transform: uppercase;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -1px;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 13px solid $c-white;
      }
      &::before {
        content: '';
        position: absolute;
        bottom: -7px;
        left: 3px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid $c-red1;
        transform: rotate(-45deg);
      }
    }
  }
  .carousel {
    margin-top: 25px;
  }
  .carousel-item {
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    color: $c-dark;
    .logo {
      height: 70px;
      position: relative;
      img {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .name {
      @extend .body-text;
      font-weight: 500;
    }
  }
}
