@import '../_variables.scss';
@import '../_mixins.scss';

.new-user {
  background: $c-white;
  border-radius: $round1;
  overflow: hidden;
  .headline {
    @extend .big-text-01;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: $c-white;
    background: $cl11;
    padding: 15px;
    &::after,
    &::before {
      content: '';
      display: inline-block;
      width: 36px;
      height: 12px;
      background: url(/src/images/start.png);
    }
  }
  .list-item {
    margin: 0;
    padding: 20px 15px 30px 15px;
  }
  .user-item {
    margin-top: 10px;
    min-height: 65px;
    .wrapper {
      position: relative;
      padding-left: 75px;
      .avatar {
        position: absolute;
        top: 0;
        left: 0;
        width: 65px;
        height: 65px;
      }
      .info {
        .name {
          margin: 0;
        }
        .address {
          @extend .small-text;
          margin: 0;
        }
      }
    }
  }
}